<!doctype html>
<html>
  <head>
    <title> Internet? </title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/493/493805.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="navbar-container">
      <a href="/"> Home </a>
    </div>
    <center>
      <div class="subtitle"> 🌐 Internet History </div>
      <div class="history-wrapper" id="history-wrapper">
        {% for item in data %}
          <div class="history">
            <div> Time: {{item['time']}} </div>
            {% if item['internet'] is true %}
              Internet turned <span class="green"> on </span>
            {% else %}
              Internet turned <span class="red"> off </span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <script>
        var element = document.getElementById("history-wrapper")
        element.scrollTop = element.scrollHeight;
      </script>
    </center>
  </body>
</html>
